   /*UNIVERSIAL STYLES*/
   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Abel', sans-serif;
    line-height: 1.5;
}

.wrapper {
    width: 100%;
    min-width: 360px;
    max-width: 1350px;
    margin-bottom: 15%;
}

.italicize, dd {
    font-style: italic;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(https://kaciecodes.com/it262/food-truck/images/curry_hero.jpeg);
    height: 412px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    font-size: 1.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#f8f6f9;
    border: 4px solid #f8f6f9;
    padding: 1em;
  }

img { 
    max-width: 100%;
    display: block;
}

/* flex box for layout */
.flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.flex-container.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    padding: 2em 1em 2em 2em;
}
.flex-container.right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;
    padding: 2em 2em 2em 1em;
}/*end flexbox*/

.red-text {
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    color: #932425;
    font-size: 2.025rem;
    letter-spacing: 2px;
}

.container { /* divs for food categories/order total/about */
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
    padding: 1em;
}

/* Customer Info */
.info label, .required {
    display: block;
}


/*styles for order form*/
.flex-container.left li {
    font-size: 1.4rem;
}

.price {
    font-size: 1.23rem;
    font-weight: 800;
}

input[type="checkbox"] {
    width: 25px;
    margin-left: 0.25em;
}

li {
    padding: 0.25em;
    margin-left: 0.25em;
}

ul {
    list-style-type: none;
}

/* Order Total Div*/
.container.total { 
    text-align: center;
}

/*submit*/
.submit { /*div*/
    text-align: center;
}
input[type=submit] {
    margin: 0 auto;
    display: block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    border-radius: 5px;
    color: #f8f6f9;
    background-color: #272727;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=submit]:hover {
    opacity: 0.4;
}
